#header1{
  list-style:none;
  font-size:300%;
}
#header2{
    list-style:none;
  font-size:250%;

}
#header3{
    list-style:none;
  font-size:220%;

}
#header4{
    list-style:none;
  font-size:200%;

}
#header5{
    list-style:none;
  font-size:180%;

}
#header6{
    list-style:none;
  font-size:150%;

}

nav{
  background-color:white;
  position:fixed;
  min-width:280px;
  height:80%;
  border-right:solid;
  border-color:grey;
  top:0px;
  left:0px;
  width:280px;
}
 

body{
  min-width:280px;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}
nav{
  background-color:white;
  min-width:280px;
  height:80%;
  border-right:solid;
  border-color:grey;
  top:0px;
  left:0px;
  width:280px;
}
header{
  margin:10px;
  color:black;
  font-weight:thin;
  font-size:30px;
  text-align:center;
}
#navbar ul {
  width:240px;
  height:100%;
  overflow:auto;
    border-right:solid;
  border-color:grey;

}
#navbar li{
  color:grey;
  list-style:none;
  border-top:1px solid;
  width:100%;
margin-left:-40px;
  padding:5px 10px 5px 30px;
  position:relative;
}
#navbar a {
  display:block;
  text-decoration:none;
  cursor:pointer;
  color:grey;
  padding:10px 10px;
  
}
main{
  position:absolute;
  margin-left:300px;
  margin-bottom:100px;
  
}
code{
  background-color:aliceblue;
  padding:10px 10px 10px 10px;
  text-align:center;

}

@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -5px;
    margin-top:-10px;
  }

  code {
    margin-left: 0px;
    width: 50%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 233px;
      line-height: 250%;
  }
  #navbar{
    display: none;

  } 
}
